<!-- calculadora.component.html -->
<div id="Principal">
    <div id="Calculadora">
      <input id="Pantalla" type="textbox" class="textbox" [(ngModel)]="calc">
      <div id="Teclado" class="buttons">
        <button class="button" (click)="onClick('AC')" value="AC">AC</button>
        <button class="button" (click)="onClick('CE')" value="CE">CE</button>
        <button class="button" (click)="onClick('%')" value="%">%</button>
        <button class="button" (click)="onClick('/')">/</button><br>
        <button class="button" (click)="onClick('7')">7</button>
        <button class="button" (click)="onClick('8')">8</button>
        <button class="button" (click)="onClick('9')">9</button>
        <button class="button" (click)="onClick('*')">*</button><br>
        <button class="button" (click)="onClick('4')">4</button>
        <button class="button" (click)="onClick('5')">5</button>
        <button class="button" (click)="onClick('6')">6</button>
        <button class="button" (click)="onClick('-')">-</button><br>
        <button class="button" (click)="onClick('1')">1</button>
        <button class="button" (click)="onClick('2')">2</button>
        <button class="button" (click)="onClick('3')">3</button>
        <button class="button" (click)="onClick('+')">+</button><br>
        <button class="button" (click)="onClick('.')">.</button>
        <button class="button" (click)="onClick('0')">0</button>
        <button class="button" (click)="onClick('Ans')">Ans</button>
        <button class="button" (click)="onClick('=')">=</button>
      </div>
    </div>
  </div>
  