:host {
    padding-top: auto;
    margin: 0;
  }
  
  h1 {
    color: black; /* Azul Bootstrap */
  }

  
  .visit-counter {
    border-radius: 10px; /* Bordes redondeados */
    padding: 10px; /* Espaciado interno */
    font-size: 18px; /* Tamaño de fuente */
    font-weight: bold; /* Negrita */
  }

