.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid red;
    background-color: #ffc107;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .random-joke, .joke-by-category {
    margin-bottom: 20px;
  }
  
  .random-joke h3, .joke-by-category h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .joke-categories ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
  }
  
  .joke-categories button {
    padding: 8px 16px;
    margin: 5px;
    background-color: purple;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .joke-categories button:hover {
    background-color: violet;
  }
  
  .joke-by-category p {
    font-size: 16px;
  }
  